.login-wrapper {
  height: 100vh;
  background: linear-gradient(to bottom right, rgb(247, 224, 235),white);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.login-card {
  width: 100%;
  max-width: 400px;
  background-color: white;
  padding: 40px 30px;
  border-radius: 16px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  text-align: center;
  animation: slideUp 0.8s ease;
}

.logo img {
  width: 80px;
  margin-bottom: 20px;
}

.title {
  font-size: 24px;
  font-weight: bold;
  color: #d63384;
}

.subtitle {
  color: #888;
  font-size: 14px;
  margin-bottom: 25px;
}

input {
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #ccc;
  margin-top: 10px;
  font-size: 14px;
}

input.invalid {
  border-color: red;
}

.password-wrapper {
  position: relative;
}

.toggle-eye {
  position: absolute;
  top: 13px;
  right: 10px;
  cursor: pointer;
}

.alert.success {
  color: green;
  margin-top: 10px;
}

.alert.error {
  color: red;
  margin-top: 10px;
}

button {
  margin-top: 20px;
  background-color: #d63384;
  color: white;
  border: none;
  padding: 12px;
  width: 100%;
  border-radius: 10px;
  font-size: 15px;
  cursor: pointer;
  transition: 0.3s ease;
}

button:hover {
  background-color: #be1e6f;
}

.switch-auth {
  margin-top: 20px;
  font-size: 14px;
  color: #666;
}

.switch-auth a {
  color: #d63384;
  text-decoration: none;
  font-weight: bold;
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(80px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/* .login-wrapper {
  background: url('/assets/images/login.jpg') no-repeat center center;
  background-size: cover;
} */
.logo-container {
  width: 150px;
  margin: 0 auto 20px auto;
  text-align: center;
}

.logo-container img {
  width: 100%;
  max-width: 150px;
  animation: fadeSlide 1.2s ease-out forwards;
  opacity: 0;
  transform: translateY(-30px);
}

@keyframes fadeSlide {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.logo-container img:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}
.logo-container img {
  width: 100%;
  max-width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 50%; 
  border: 4px solid #f8c3d6; 
  box-shadow: 0 4px 12px rgba(240, 143, 170, 0.4); 
  animation: rotateLogo 3s linear infinite, fadeSlide 1.2s ease-out forwards;
  opacity: 0;
  transform: translateY(-30px);
}


@keyframes rotateLogo {
  0% {
    transform: rotate(0deg) translateY(-30px);
  }
  100% {
    transform: rotate(360deg) translateY(-30px);
  }
}

