<nav class="navbar navbar-expand-lg shadow-sm px-4 py-3 sticky-top navbar-custom">
  <div class="logo-container animate-logo">
  <img src="/assets/images/logo.jpg" alt="MAKE UP logo" />
</div>

  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
    <ul class="navbar-nav">

      <!-- For Buyer (Client) -->
      <ng-container *ngIf=" isLoggedIn && userRole === 'buyer'">
        <li class="nav-item">
          <a class="nav-link nav-link-custom" routerLink="/home" routerLinkActive="active">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-link-custom" [routerLink]="['/catalog']" [queryParams]="{ type: 'all' }" routerLinkActive="active">Catalog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-link-custom" routerLink="/cart" routerLinkActive="active">Cart</a>
        </li>
      </ng-container>

      <!-- For Bay3 (Seller) -->
      <ng-container *ngIf="isLoggedIn && userRole === 'seller'">
        <li class="nav-item">
          <a class="nav-link nav-link-custom" routerLink="/DashboardS" routerLinkActive="active">My Products</a>
        </li>
         <li class="nav-item">
          <a class="nav-link nav-link-custom" routerLink="/command" routerLinkActive="command">My commande</a>
        </li>
      </ng-container>
    </ul>

    <ul class="navbar-nav">
      <!-- If not logged in -->
      <ng-container *ngIf="!isLoggedIn">
        <li class="nav-item">
          <a class="nav-link nav-link-custom" routerLink="/login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-link-custom" routerLink="/register">Register</a>
        </li>
      </ng-container>

      <!-- If logged in -->
      <ng-container *ngIf="isLoggedIn">
        <li class="nav-item">
          <a class="nav-link nav-link-custom" (click)="logout()">Logout</a>
        </li>
      </ng-container>
    </ul>
  </div>
</nav>