.nav-tabs {
  margin-top: 20px;
  border-bottom: 2px solid #ccc;
}
.nav-link {
  cursor: pointer;
  font-weight: bold;
  color: purple;
}
.nav-link.active {
  color: red;
  border-bottom: 2px solid red;
}
.card {
  margin-bottom: 20px;
}
