<!-- Tabs -->
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/catalog']" [queryParams]="{ type: 'face' }" routerLinkActive="active">Face</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/catalog']" [queryParams]="{ type: 'eyes' }" routerLinkActive="active">Eyes</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/catalog']" [queryParams]="{ type: 'lips' }" routerLinkActive="active">Lips</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/catalog']" [queryParams]="{ type: 'all' }" routerLinkActive="active">All</a>
  </li>
</ul> 

<!-- Product Cards -->
<div class="row mt-4">
  <div class="col-md-4" *ngFor="let product of filterdproducts">
    <div class="card mb-4">
      <div class="card-body">
        <h5 class="card-title">{{ product.name }}</h5>
        <p class="card-text">{{ product.description }}</p>
        <p class="fw-bold">{{ product.price }} MAD</p>
      </div>
    </div>
  </div>
</div>



